body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: rgb(248, 234, 234);
    text-align: center;
    padding: 1em;
  }

  nav {
    background-color: #f4f4f4;
    padding: 1em;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline;
    margin-right: 10px;
  }
  
  a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  section {
    background-color: #f9f9f9;
    flex: 5
  ;
    margin-left: 0px;
  }
  h2 {
    display: inline;
    margin: 0px;
    
  }
  
  article {
    margin-bottom: 20px;
  }
  
  aside {
    flex: 1;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
  }
  